.chapter(data-title='IVR Phone Tree')
  .step(data-file='models/agent.js',)
    :markdown
      ## About this application

      ![Extra Terrestrial Phone Home
      Service](//howtodocs.s3.amazonaws.com/logo-et-phone2.png)

      This [Express](//expressjs.com/) sample application is modeled after a
      typical call center experience, but with more [Reese's
      Pieces](//en.wikipedia.org/wiki/Reese%27s_Pieces#ET:_The_Extra-Terrestrial).

      Stranded aliens can call a phone number and receive instructions on how to
      get out of earth safely, or call their [home planet](//bit.ly/asogi)
      directly. In this tutorial, we'll show you the key bits of code that allow
      an agent to send a caller to voicemail, and later read transcripts and
      listen to voicemails.

      To run this sample app yourself, [download the code and follow the
      instructions on GitHub](//github.com/TwilioDevEd/ivr-recording-node).

      Let's get started! Click the right arrow above to move to the next step
      of the tutorial.

      ---

      **See Also:**
      * [ET IVR Part One: Phone Tree](//www.twilio.com/docs/tutorials/walkthrough/ivr-phone-tree/node/express)
      * [Installing Express](http://expressjs.com/en/starter/installing.html)
      * [The Twilio Node Helper Library](//twilio.github.io/twilio-node/)
